* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

img {
  width: 350px;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 0 8px gray;
  transform-origin: center;
  transform: perspective(800px) rotateY(20deg);
  transition-duration: 0.6s;
}
.container:hover img {
  opacity: 0.3;
}
.container img:hover {
  transform: perspective(800px) translateY(0);
  opacity: 1;
  z-index: 100;
}
